.widget {
	margin: 0 0 0;
    list-style: none;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
    }}


.header-widgets li{
    list-style: none;
}

.widget_custom_html{
    list-style: none;
}

